.profile-main{
    margin-top: 10vh;
    margin-left: 10vw;
    margin-bottom: 5vh;
}
.profile-signup{
    width: fit-content;
    height: fit-content;
}
.profile-customerdetails{
    width: fit-content;
    height: fit-content;
}